name: Deploy to VPS

on: 
 push: 
  branches: 
   - main

jobs: 
 deploy: 
  runs-on: ubuntu-latest

  steps: 
   - name: Checkout code
     uses: actions/checkout@v4
   
   - name: Setup Node
     uses: actions/setup-node@v4
     with: 
      node-version: 20
   
   - name: Install dependencies
     run: |
       npm install
       npx prisma generate
       npm run build
   
   - name: Upload to VPS
     uses: appleboy/scp-action@v0.1.7
     with: 
      host: ${{ secrets.SSH_HOST }}
      username: ${{ secrets.SSH_USER }}
      key: ${{ secrets.SSH_KEY }}
      source: "dist,package.json,package-lock.json,ecosystem.config.js,prisma"
      target: "/home/dev/backend/dailybakes-be"
      overwrite: true

   - name: Restart PM2
     uses: appleboy/ssh-action@v1.2.0
     with:
      host: ${{ secrets.SSH_HOST }}
      username: ${{ secrets.SSH_USER }}
      key: ${{ secrets.SSH_KEY }}
      script: |
         cd /root/backend/product-2025-11-arbas
         npm install --omit=dev
         pm2 startOrReload ecosystem.config.js
         pm2 save
